   #header {
    background-color: rgb(20, 22, 93);
    color: white;
    text-align: center;
    margin-top: 1%;
    margin-left:2%;
    margin-right:2%;
    height : 8%;

    }
    #wrapper{
    position:absolute;
    width : 100%;
    height : 100%;
    background-color : rgb(18, 37, 125);
    } 
    #navigation {
    background-color: rgb(103, 104, 176);
    color: white;
    text-align: center;
    margin-left:2%;
    margin-right:2%;
    height : 10%;

    }
    #section {
      background-color: rgb(255, 255, 255);
      color: rgb(70, 5, 5);
      text-align: center;
      margin-left:2%;
      margin-right:2%;
      height : 76%;

  }
  
